{% extends 'main/category.html' %}


{% block content %}


<style>
    .rasm{
        width: 300px;
        height: 250px;
    }
</style>

<div class="page-title-area pt-10 pb-120 " style="background-image: url(assets/img/bg/contact-bg.png);">
   
</div>

<!-- =================Page Title Area Ends================= -->

<!-- =================Product Area Starts================= -->


<div class="product-area product-shop-page  product-list-page  pt-50 ">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-12">
                <div class="sidebar-widget">
                    <div class="categorie ">
                      <h4><i class="fas fa-list"></i>All Categories</h4>
                      <hr>
                      <ul class="categories-list pt-10 pl-20">

                        <li><a href="#">All Items</a></li>
                    {% for c in categorys %}
                       
                        <li><a href="{% url 'product_url' c.slug %}">{{c.title}}</a></li>
                    {% endfor %}
                        
                      </ul>
                                         
                    </div>
                </div>
                <div class="sidebar-widget mt-50">
                    <div class="categorie ">
                        
                        <hr>
                        <div class="input-range pb-30 position-relative ml-20 pt-25 mr-20">
                            <span>Price</span>
                            <div id="input-slider" class="mt-30"></div>
                            <ul class="price mt-20">
                                <li><a>$20.00</a></li>
                                <li><a>$560.00</a></li>
                                <li><a>Filter</a></li>
                            </ul>
                            <div class="size pt-25">
                                <span>Size</span>
                                <ul class="size-item mt-15 position-relative">
                                    <li><a href="#">Chose Size <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <ul class="sub-size-option position-absolute">
                                            <li><a href="#">28</a></li>
                                            <li><a href="#">32</a></li>
                                            <li><a href="#">34</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="color-cat pt-15">
                                <span>Color</span>
                                <ul class="color-option position-relative mt-15">
                                    <li><a href="#">Chose Color <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                        <ul class="sub-color position-absolute">
                                            <li><a href="#">Black</a></li>
                                            <li><a href="#">Red</a></li>
                                            <li><a href="#">White</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hot-sale-product-area pt-50">
                    <div class="hot-lookbook ">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="section-title pb-5">
                                    <h3>
                                        On-Sale Product
                                    </h3>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="custom-row">
                            <div class="hot-sale-product-active-2 pt-30">
                                <div class="col-xl-6">
                                    <div class="product-wrapper d-flex">
                                        <div class="product-img pr-15">
                                            <img src="assets/img/product/product-23.png" alt="product">
                                            <div class="cart-icon">
                                                <img src="assets/img/icon/cart-white.png" alt="cart">
                                            </div>
                                        </div>
                                        <div class="product-detalis">
                                            <span>Men Dress</span>
                                            <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                            <div class="price d-flex">
                                                <span>$999</span>
                                                <del>$899</del>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-wrapper mt-25 d-flex">
                                        <div class="product-img pr-15">
                                            <img src="assets/img/product/product-27.png" alt="product">
                                            <div class="cart-icon">
                                                <img src="assets/img/icon/cart-white.png" alt="cart">
                                            </div>
                                        </div>
                                        <div class="product-detalis ">
                                            <span>Men Dress</span>
                                            <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                            <div class="price d-flex">
                                                <span>$999</span>
                                                <del>$899</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="product-wrapper d-flex">
                                        <div class="product-img pr-15">
                                            <img src="assets/img/product/product-24.png" alt="product">
                                            <div class="cart-icon">
                                                <img src="assets/img/icon/cart-white.png" alt="cart">
                                            </div>
                                        </div>
                                        <div class="product-detalis">
                                            <span>Men Dress</span>
                                            <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                            <div class="price d-flex">
                                                <span>$999</span>
                                                <del>$899</del>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-wrapper mt-25 d-flex">
                                        <div class="product-img pr-15">
                                            <img src="assets/img/product/product-28.png" alt="product">
                                            <div class="cart-icon">
                                                <img src="assets/img/icon/cart-white.png" alt="cart">
                                            </div>
                                        </div>
                                        <div class="product-detalis ">
                                            <span>Men Dress</span>
                                            <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                            <div class="price d-flex">
                                                <span>$999</span>
                                                <del>$899</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="product-wrapper d-flex">
                                        <div class="product-img pr-15">
                                            <img src="assets/img/product/product-21.png" alt="product">
                                            <div class="cart-icon">
                                                <img src="assets/img/icon/cart-white.png" alt="cart">
                                            </div>
                                        </div>
                                        <div class="product-detalis">
                                            <span>Men Dress</span>
                                            <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                            <div class="price d-flex">
                                                <span>$999</span>
                                                <del>$899</del>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-wrapper mt-25 d-flex">
                                        <div class="product-img pr-15">
                                            <img src="assets/img/product/product-25.png" alt="product">
                                            <div class="cart-icon">
                                                <img src="assets/img/icon/cart-white.png" alt="cart">
                                            </div>
                                        </div>
                                        <div class="product-detalis ">
                                            <span>Men Dress</span>
                                            <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                            <div class="price d-flex">
                                                <span>$999</span>
                                                <del>$899</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="product-wrapper d-flex">
                                        <div class="product-img pr-15">
                                            <img src="assets/img/product/product-22.png" alt="product">
                                            <div class="cart-icon">
                                                <img src="assets/img/icon/cart-white.png" alt="cart">
                                            </div>
                                        </div>
                                        <div class="product-detalis">
                                            <span>Men Dress</span>
                                            <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                            <div class="price d-flex">
                                                <span>$999</span>
                                                <del>$899</del>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-wrapper mt-25 d-flex">
                                        <div class="product-img pr-15">
                                            <img src="assets/img/product/product-26.png" alt="product">
                                            <div class="cart-icon">
                                                <img src="assets/img/icon/cart-white.png" alt="cart">
                                            </div>
                                        </div>
                                        <div class="product-detalis ">
                                            <span>Men Dress</span>
                                            <h6><a href="shop-detalis-page.html">Military Patch Pocket Blazer</a></h6>
                                            <div class="price d-flex">
                                                <span>$999</span>
                                                <del>$899</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12">
                <div class="row">
                    <div class="col-xl-12 pb-50">
                        <div class="toolbar-navi d-inline-block ">
                            <div class="toolbar d-flex">
                                <div class="view-as d-flex mr-30">
                                    <span>View as:</span>
                                    <div class="view-as-button ml-10">
                                        <a href="#"><i class="fab fa-microsoft"></i></a>
                                        <a href="#"><i class="fas fa-list-ul"></i></a>
                                        
                                    </div>
                                </div>
                                <div class="sort-by d-flex mr-30">
                                    <span class="mr-10">Sort by:</span>
                                    <div class="sort-by-option position-relative">
                                        <button id="sort-option" class="sort-option">Most Recent <i class="fas fa-caret-down"></i></button>
        
                                        <div id="sub-sort-option" class="sub-sort-option  position-absolute " >
                                            <a href="#">Alphbet</a>
                                            <a href="#">Price</a>
                                            
                                        </div>
                                    </div>
        
                                </div>
                                <div class="show-option d-flex">
                                    <span class="mr-10">Show:</span>
                                    <div class="show-option-list position-relative">
                                        <button id="show-option-numbe" class="show-option-number">11 <i class="fas fa-caret-down"></i></button>
                                        <div id="sub-show-option" class="sub-show-option">
                                            <a href="#">20</a>
                                            <a href="#">28</a>
                                            <a href="#">32</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="construction-pagination float-right" aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                              
                                </li>
                            </ul>
                        </nav>
                     </div>
       
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="product-sidebar">
                       
                            {% for p in product %}
                           
                            <div class="product-wrapper  d-flex">
                               
                                    <img class='rasm' src="{{p.image.url}}" alt="product">
                                    <ul class="social-icon">
                                     
                                    </ul>
                                </div>
                                <div class="product-detalis pt-15 pl-20  pb-25">
                                    
                                
                                    <span>{{p.category.title}}</span>
                                  
                                    
                                   
                                    <h6><a href="shop-detalis-page.html">{{p.name}}</a></h6>
                                    <div class="price-rating d-flex">
                                        <div class="price d-inline-block">
                                            <span>{{p.price}}$</span>
                                            
                                        </div>
                                        <ul class="rating d-flex">
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                            <li><i class="far fa-star" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                    <p>Donec blandit dolor tortor, ac varius enim egestas id. Aenean vel felis sit amet tellus mattis
                                        finibus sem lacinia nec. Aenean a mi magna. Aliquam id  faucibus nunc sit amet, dapibus
                                        Aenean vel felis sit amet tellus mattis  aliquet.</p>
                                    <div class="cart ">
                                        <a href="#"><img class="cart-img-black" src="assets/img/icon/cart-black.png" alt=""> <img class="cart-img-red d-none" src="assets/img/icon/cart-red.png" alt=""> Add To
                                            Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            {% endfor %}
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-xl-12 pt-30">
                        <div class="toolbar-navi d-inline-block ">
                            <div class="toolbar d-flex">
                                <div class="view-as d-flex mr-30">
                                    <span>View as:</span>
                                    <div class="view-as-button ml-10">
                                        <a href="#"><i class="fab fa-microsoft"></i></a>
                                        <a href="#"><i class="fas fa-list-ul"></i></a>
                                        
                                    </div>
                                </div>
                                <div class="sort-by d-flex mr-30">
                                    <span class="mr-10">Sort by:</span>
                                    <div class="sort-by-option position-relative">
                                        <button id="sort-option-2" class="sort-option">Most Recent <i class="fas fa-caret-down"></i></button>
        
                                        <div id="sub-sort-optio-2" class="sub-sort-option  position-absolute " >
                                            <a href="#">Alphbet</a>
                                            <a href="#">Price</a>
                                            
                                        </div>
                                    </div>
        
                                </div>
                                <div class="show-option d-flex">
                                    <span class="mr-10">Show:</span>
                                    <div class="show-option-list position-relative">
                                        <button id="show-option-numbe-2" class="show-option-number">11 <i class="fas fa-caret-down"></i></button>
                                        <div id="sub-show-option-2" class="sub-show-option">
                                            <a href="#">20</a>
                                            <a href="#">28</a>
                                            <a href="#">32</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="construction-pagination float-right" aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                     </div>
       
                </div>
            </div>
        </div>
    </div>
</div>

<!-- =================Product Area Ends================= -->






{% endblock %}