{% extends 'main/base.html' %}
{% block content %}

{% load static %}
<style>
    .search-button{
        position: absolute;
        
        margin-left: 150px;
    }
</style>
    <!-- =================Product Area Starts================= -->
    
    <header>
        <div class="header-area header-2 header-resposive-2 position-absolute pt-30 pl-65 pr-80">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-12 offset-xl-0 offset-lg-0 offset-md-5 offset-sm-4 ">
                        <div class="logo text-center text-lg-left">
                            <a href="{% url 'index_url' %}"><h2>Big Sale.</h2></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-auto col-sm-auto">
                        <div class="main-menu pt-5">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="index.html">Home</a>
                                        <ul class="sub-menu">
                                            <li><a href="login-page.html">Login</a></li>
                                            <li><a href="{% url 'register_url' %}">Register</a></li>
                                        </ul>
                                    </li>
                                 
                                  
                                    <li><a href="{% url 'category_url' %}">Category</a>
                                        
                                          
                                  
                                    <li><a href="blog-page.html">Blog</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-page-2.html">Blog</a></li>
                                            <li><a href="blog-detalis-page.html">Blog Detalis</a></li>
                                           
                                        </ul>
                                    </li>
                                    <li><a href="contact-page.html">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <form method="get">
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                        <div class="site-info  d-flex justify-content-end">
                            <div class="search position-relative mr-15 ">
                                <div class="search-button">
                                    <a href=""><img src="{% static 'img/icon/search-white.png' %}" alt=""></a>
                                    <div class="search-form">
                                        
                                            <input type="text" name="name" placeholder="Enter your keywords.....">
                                        </form>
                                    </div>
                            </div>
                           
                            
    </header>
  
    <!-- =================Login Area Starts================= -->
<h1>{{message}}</h1>
    <div class="login-page-area pt-90 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-5 col-md-6 col-sm-9">
                    <div class="login-detalis pt-40 pr-40 pl-40 pb-40">
                        <div class="login-input">
                            <form action="" method="post">
                            
                                {% csrf_token %}
                               
                            <input type="text" name ="name" placeholder="Full Name...">
                            <input type="email" name="email"  placeholder="Enter your email....">
                            <input type="number" name="phone"  placeholder="Enter your number....">
                            <input type="password" name="password" placeholder="Enter your password....">
                           
                            
                        </div>
                        <div class="or text-center">
                            <span>OR</span>
                        </div>
                        <div class="login-account text-center pt-10">
                            <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a>
                            <a href="#"><i class="fab fa-google-plus-g"></i>Google</a>
                        </div>
                        <div class="login-button text-center pt-30">
                            <button type="submit">Register</button>
                            {% for m in messages %}
                            {{m}}
                            {% endfor %}
                            
                        </div>
                    </form>
                        <div class="login-information pt-25">
                            <div class="remember-me">
                                <input type="checkbox" id="checkbox-1"><label for="checkbox-1">Remember Me</label>
                                <span class="float-right">Forgot <span>password?</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- =================Login Area Ends================= -->


  
     <!-- scripts -->
     <script src="assets/js/vendor/jquery.min.js"></script>
     <script src="assets/js/vendor/modernizr-3.7.1.min.js"></script>
     <script src="assets/js/vendor/bootstrap.min.js"></script>
     <script src="assets/js/vendor/popper.min.js"></script>
     <script src="assets/js/vendor/jquery-mean-menu.min.js"></script>
     <script src="assets/js/vendor/owl.carousel.min.js"></script>
     <script src="assets/js/vendor/isotope.pkgd.min.js"></script>
     <script src="assets/js/countdown.js"></script>
     <script src="assets/js/vendor/jquery.nice-number.js"></script>  
     <script src="assets/js/vendor/slick.min.js"></script>
     <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
     <script src="assets/js/vendor/wow-1.3.0.min.js"></script>  
     <script src="assets/js/main.js"></script>

</body>

</html>
{% endblock %}
